@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-color: #330033;
    overflow: hidden;
}

.logo {
    width: 6rem;
    height: auto;
    margin: 1.5rem 5%;    
}

.nav-top {
    clear:both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: #fc9e49; 
    text-align: center;
}
.nav-top li {
    margin: 0;
    padding: 0;
    display: inline;   
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1.5rem 8%;
    color: #330033;
    font-size: 1.15rem;
    text-decoration: none;

}

/* Billboard */

.billboard {
    background-image: url(../images/resized-peaches.jpg);
    overflow: hidden;
}

.billboard h1 {
    margin: 8rem 0;
    padding: 1.5rem 5%;
    color: white;
    background-color: rgba(252, 158, 73, .6);
}


article {
    padding: 1.5rem 5%;
    overflow: hidden;
}

hr{
    background-color: #330033;
    width: auto;
    height: 2px;
    border: none;
    
}

article p {
    font-family: garamond;
    font-size: 1.2rem;
    color: #fc9e49; 
        
}
   
article h2 {
    font-family: bold garamond;
    font-size: 1.5rem;
    color: #330033;
    padding: .5rem;
    text-align: center;
}

.bucket1 { 
    overflow: hidden;
}

.bucket1 figure {
    margin: 0;
    padding: 0;
}

.bucket1 a,
.bucket1 a:link,
.bucket1 a:visited {
    float: left;
    width: 45%; 
    margin: 0 10% 0 0; 
    padding: 0;
}

.bucket1 a:nth-child(even) {
    margin: 0;     
}

.bucket1 figcaption {
    background-color:  white; 
    color: #330033;
    font-family: stalemate;
    font-size: 2rem;
}

footer {
    background-color: #330033;
    overflow:hidden;
}

footer p {
    font-size: 1rem;
    font-family: garamond;
    margin: 1.5rem 5% 5rem;
    color: white;
}

article2 h2{
    font-family: garamond;
    font-size: 2rem;
    color: #330033;
    text-align: center
}


.products { 
    overflow: hidden;
}

.products figure {
    margin: 0;
    padding: 0;
}

.products a,
.products a:link,
.products a:visited {
    float: left;
    width: 40%; /* First and second buckets. 45% x 2 = 90% */ 
    margin: 0 10% 0 1.5rem; 
    padding: 0;
}

footer {
    background-color: #330033;
    overflow:hidden;
}

footer p {
    font-size: 1rem;
    font-family: garamond;
    margin: 1.5rem 5% 5rem;
    color: white;
}


.bucket3 {
    overflow: hidden;
    margin: 0 0 1.5rem;
    padding: 0;
    background-color: white;
}

.bucket3 img {
    float: left;
    width: 30%; 
    margin: 0 10% 0 1.5rem;
    padding: 0;
    
}

.bucket3 figcaption {
    float: right;
    width: 50%;
    margin: 0;
    padding: 1rem;
    background-color: #fc9e49;
    color: white;
    font-family: bold garamond;
    
}

article p6 {
    margin-left: 1.5rem;
    font-family: stalemate;
    font-size: 2rem;
    color: #330033;
    
}

